doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Resource Usage Summary

  body(style="background-color: #f3f3ff;")
  div
    div(style="max-width: 720px; width:80%; margin: auto; padding: 20px; background-color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: #666666;")
      center
        p Hello, #{name}!
      
